:root {
    --Moderate-violet: hsl(263, 55%, 52%);  
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {box-sizing: border-box;}

p {
    color: var(--Light-gray);
    opacity: 70%;
}

h2 {color: var(--White);}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-grayish-blue);
}

section {
    width: max(60%, 320px);
    padding: 1.8em 2.5em;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: top 0 right 25px;
    margin: 20px 0;
}

section:nth-of-type(3) *, section:nth-of-type(5) * {
    color: var(--Very-dark-grayish-blue);
}

section .reviewer {
    display: flex;
    overflow: hidden;
}

section .reviewer img {
    border-radius: 50%;
    height: 30px;
    margin-right: 15px;
    border: 1px solid var(--White);
}

section .reviewer p {
    margin: 0;
}

section .reviewer p:first-of-type {
    opacity: initial;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }